html {
    scroll-behavior: smooth;
    margin: 0;
}

body {
  background-image:linear-gradient(to bottom left, rgb(229, 231, 199), rgb(83, 151, 197),rgb(229, 231, 199) );
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    transition: background-color 0.3s ease;
    list-style-type: none;
  }

  .morph {
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(47, 47, 148);
    color: #fff;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    animation: morphing ease-in-out 10s infinite;
  }
  
  .morph1 {
    transform: rotate(45deg);
    position: absolute;
    top: 35%;
    right: 34%;
  }
  .morph2 {
    transform: rotate(110deg);
    position: absolute;
    top: 22%;
    right: 12%;
    z-index: 11;
  }
  .morph3 {
    position: absolute;
    top: 10%;
    right: 30%;
  }
  .morph:hover {
  
  }
  
  @keyframes morphing {
    0% {
      border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }
    25% {
      border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
    }
    50% {
      border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
    }
    75% {
      border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;
    }
  }
  .list-komp {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    justify-content: center;
  }
.nav-div {
  width: 100vw;
}
ul {
  list-style: none;
}
  .navbar {
    display: flex;
  
    justify-content: space-evenly;
    width: 100%;
    background-color: #333;
    padding: 10px 0; /* Adjust as needed */
  }
  
  .navlist {
    list-style: none;
    display: flex;
    margin: 2px;
    align-items: center;
  
  }
  .list { 
    border: solid 2px white;
    margin: 2px;
    padding: 4px;
  }
  .navbar a {
    color: rgb(243, 243, 243);
    text-decoration: none;
  }
  .toggle-container {
    display: flex;
    align-items: center;
  }
  
  .hero-body {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    justify-content: space-evenly;
    align-items: center;
  }
  .hero-footer-text {
    text-align: center;
    padding: 50px;
  }
  
  .hero-text {
    position: relative;
    transition: color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease; /* Add smooth transitions for color, box shadow, and transform */
  }
  
  .hero-text:hover {
    color: #5334db; /* Change the text color on hover */
    text-shadow: 2px 1px 0px rgb(3, 3, 3); /* Add a subtle text shadow on hover */
    transform: scale(1.5); /* Zoom in slightly on hover */

}
  .info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .info-overskrift {
    text-align: center;
    padding: 40px;
  }
  .info-me {
    width: 50%;
    

  }
  .hero-foot {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .code {
    width: 90%;
    height: 250px;
    border-radius: 2%;
 
  }
  
  .toggle-input {
    display: none;
  }
  
  .toggle-label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .toggle-text {
    margin: 0 10px;
    color: white;
  }
  
  .toggle-icon {
    display: inline-block;
    width: 96px;
    height: 43px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .kompetanse-overskrift{
    padding-top: 200px;
    padding-bottom: 20px;
    text-align: center;
  }
 
  .code-language {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
  }
  .dark-mode {
    background-image:linear-gradient(to bottom right,#0d0d0d, #210891, #0d0d0d);
    background: cover;
    color: rgb(229, 231, 199);
  }
  
  .dark-text{
    color: rgb(241, 239, 239);
  }
  
  .light-text {
    color: rgb(217, 255, 0);
  }
  
  
  #toggle:checked + .toggle-label #toggleIcon {
    background-image: url('img/dark mode.png');
  }
  
  #toggle:not(:checked) + .toggle-label #toggleIcon {
    background-image: url('img/light mode.png');
  }
  
  .border {
    border: solid black 1px;
  }
  footer {
    margin-top: auto;
  }

  .project {
    padding: 120px 0 50px 0;
    text-align: center; 
  }
  
  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .padding-project-box {
    padding-top: 50px;
  }
  .individual-project-div {
    width: 48%;
  }
  .img-screenshot {
    height: 50%;
    width: 70%;
    transition: border-radius 0.6s ease;
  }
  .img-screenshot:hover {
    border-radius: 20%;
    
  }
  .⮝ {
    display: flex;
    justify-content: center;
    width: 50px;
    
  }
  .bildeholder{
    width: 20%;
    border:solid 2px rgb(18, 24, 110, 0.623);
    background-color: aliceblue;
    border-top-left-radius: 40%;
    border-bottom-right-radius: 40%;
    z-index: 10;
  
  }

  .profil {
  
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  border-top-left-radius: 40%;
  border-bottom-right-radius: 40%;
  }

  .spacer {
    width: 90vw;
    padding: 20px;
    margin-top: 180px;
    text-align: end;
    background-color: #333 ;
  }

  .contact-info {
    text-shadow: 0px 0px 1px #00F;
  }
  .github-red {
    color: red;
  }
  .js-icon {
    border: black solid 8px;
  }
  @media only screen and (max-width: 700px) {
    body {
      padding: 10px;
    }
    
    .nav_bar_div {
      flex-direction: column;
    }
    
    .navlist {
      text-align: center;
      padding: 10px;
    }
    .morph2 {
      z-index: 0;
    }
    .navlist {
      flex-wrap: wrap;
    }
  }

  @media only screen and (min-width: 1100px){
        .morph1 {
          right: 40%;
        }
  }
  
